{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "react"
    ],
    "globals": {
        "chrome": true
    },
    "rules": {
        "no-console": 0,
        "no-empty": [1,{ "allowEmptyCatch": true }]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ]
}